<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
</head>
<body>
<main class="container">
    <section id="search-form">
        <h1 class="mt-5">Pet Search</h1>
        {{ form_start(form, {'action': path('app_pet_search'), 'method': 'GET', 'attr': {'onload': 'this.submit();'}}) }}
        <div class="mb-3">
            <label for="name" class="form-label">Enter filter by Name:</label>
            <input type="text" id="name" name="name" class="form-control" value="{{ app.request.query.get('name') ?? '' }}">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Enter filter by Description:</label>
            <input type="text" id="description" name="description" class="form-control" value="{{ app.request.query.get('description') ?? '' }}">
        </div>

        <div class="mb-3">
            <label for="owner" class="form-label">Enter filter by Owner:</label>
            <input type="text" id="owner" name="owner" class="form-control" value="{{ app.request.query.get('owner') ?? '' }}">
        </div>


        <button type="submit" class="btn btn-primary">Search</button>
        {{ form_end(form) }}
    </section>

    <hr>
    <section id="search-results">
        <h2 class="mt-5">Search Results</h2>
        <table class="table">
            <thead>
            <tr>
                <th><a href="{{ path('app_pet_search', {'sort_by': 'id', 'sort_direction': (petRequestDto.getSortBy() == 'id' and petRequestDto.getSortDirection() != 'desc') ? 'desc' : 'asc', 'name': app.request.query.get('name'), 'description': app.request.query.get('description'), 'owner': app.request.query.get('owner')}) }}">ID</a></th>
                <th><a href="{{ path('app_pet_search', {'sort_by': 'name', 'sort_direction': (petRequestDto.getSortBy() == 'name' and petRequestDto.getSortDirection() != 'desc') ? 'desc' : 'asc', 'name': app.request.query.get('name'), 'description': app.request.query.get('description'), 'owner': app.request.query.get('owner')}) }}">Name</a></th>
                <th><a href="{{ path('app_pet_search', {'sort_by': 'description', 'sort_direction': (petRequestDto.getSortBy() == 'description' and petRequestDto.getSortDirection() != 'desc') ? 'desc' : 'asc', 'name': app.request.query.get('name'), 'description': app.request.query.get('description'), 'owner': app.request.query.get('owner')}) }}">Description</a></th>
                <th><a href="{{ path('app_pet_search', {'sort_by': 'owner', 'sort_direction': (petRequestDto.getSortBy() == 'owner' and petRequestDto.getSortDirection() != 'desc') ? 'desc' : 'asc', 'name': app.request.query.get('name'), 'description': app.request.query.get('description'), 'owner': app.request.query.get('owner')}) }}">Owner</a></th>
            </tr>
            </thead>
            <tbody>
            {% for pet in paginator %}
                <tr>
                    <td>{{ pet.id }}</td>
                    <td>{{ pet.name }}</td>
                    <td>{{ pet.description }}</td>
                    <td>{{ pet.owner.name }}</td>
                    <td>
                        <a href="{{ path('app_pet_update', {'id': pet.id}) }}" class="btn btn-primary">Обновить</a>
                        <a href="{{ path('app_pet_delete', {'id': pet.id, 'name': app.request.query.get('name'), 'description': app.request.query.get('description'), 'owner': app.request.query.get('owner'), 'page': app.request.query.get('page', 1)}) }}" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if paginator is not null and paginator.count() > 0 %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center mt-3">
                    {% set currentPage = paginator.query.getFirstResult() / paginator.query.getMaxResults() + 1 %}
                    {% set pageCount = (paginator.count() / paginator.query.getMaxResults())|round(0, 'ceil') %}

                    {% if currentPage > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('app_pet_search', app.request.query|merge({'page': 1})) }}">First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="{{ path('app_pet_search', app.request.query|merge({'page': currentPage - 1})) }}">Previous</a>
                        </li>
                    {% endif %}

                    {% for page in 1..pageCount %}
                        <li class="page-item{% if page == currentPage %} active{% endif %}">
                            <a class="page-link" href="{{ path('app_pet_search', app.request.query|merge({'page': page})) }}">{{ page }}</a>
                        </li>
                    {% endfor %}

                    {% if currentPage < pageCount %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('app_pet_search', app.request.query|merge({'page': currentPage + 1})) }}">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="{{ path('app_pet_search', app.request.query|merge({'page': pageCount})) }}">Last</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </section>
</main>
</body>
</html>
