<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
</head>
<body>
<header class="container">

</header>
<main class="container">
    <section id="preview">
        <h2>Создать питомца</h2>
        <form id="create-pet-form" action="{{ path('app_pet_web') }}" method="POST">
            {{ form_start(form) }}
            <div class="grid">
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                <button type="submit">Сохранить</button>
            </div>
            {{ form_end(form) }}
        </form>
    </section>
</main>
</body>
</html>